{% extends 'layouts/base.html' %}

{% block pagetitle %}Login{% endblock pagetitle %}

{% block content %}

  <style>
    .errorlist {
      max-width: 400px;
      padding: 0;
      margin-bottom: 20px;
      color: #d26666;
      text-align: center;
    }
  </style>

  <form action="{% url 'users:login' %}" method="post" class="login_form">
    {% csrf_token %}
    {{ form }}
    <button name="submit" class="cta-button">Log in</button>
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
  </form>

  <p class="register_advice">Dont have an account yet? <a href="{% url 'users:register' %}">Register</a></p>
{% endblock content %}
